<div class="d-flex w-100 h-100">
  <div class="position-relative flex-grow-1 flex-shrink-1">
    <div local-class="top-toolbar" class="px-1 d-flex justify-content-end align-items-center">
      {{#if this.canCreate}}
        <button
          class="btn btn-outline-primary ml-1"
          {{action this.create}}
        >
          {{fa-icon "bookmark" class="mr-1"}}
          {{t "components.page.trade_page.create"}}
        </button>
      {{/if}}

      <button
        class="btn btn-primary ml-1"
        {{action this.clearAll}}
      >
        {{fa-icon "undo" class="mr-1"}}
        {{t "components.page.trade_page.clear"}}
      </button>
    </div>

    {{electron-webview
      local-class="trade-browser"
      url=this.currentTradeUrl
      offset=this.tradeWebsiteOffset
      onUrlChange=(action this.tradeUrlUpdate)
    }}
  </div>

  <div local-class="side-panel" class="py-1 px-2">
    {{#if this.currentTrade}}
      {{pow-trade/details
        currentTradeSlug=this.currentTradeSlug
        trade=this.currentTrade
        onClose=(action this.clearCurrentTrade)
      }}
    {{else}}
      {{pow-trade/list
        onSelect=(action this.select)
      }}
    {{/if}}
  </div>
</div>
