{{! template-lint-disable no-bare-strings no-implicit-this }}

<nav class="navbar fixed-top navbar-dark navbar-expand bg-dark">
  {{#pow-link "dashboard" local-class="custom-brand" class="navbar-brand d-flex align-items-center"}}
    <img src="assets/images/logo-small.png" class="mr-2" alt="">
    PoeWorld
  {{/pow-link}}

  <ul class="navbar-nav mr-auto">
    <li class="nav-item ml-2">
      {{#pow-link "atlas" class="nav-link px-1"}}
        {{t "components.navigation.atlas"}}
      {{/pow-link}}
    </li>

    <li class="nav-item ml-2">
      {{#pow-link "stash.vendor-recipe" class="nav-link px-1"}}
        {{t "components.navigation.stash"}}
      {{/pow-link}}
    </li>

    <li class="nav-item ml-2">
      {{#pow-link "trade" class="nav-link px-1"}}
        {{t "components.navigation.trade"}}
      {{/pow-link}}
    </li>

    <li class="nav-item ml-2">
      {{#pow-link "challenges" class="nav-link px-1"}}
        {{t "components.navigation.challenges"}}
      {{/pow-link}}
    </li>

    <li class="nav-item dropdown ml-2">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        {{t "components.navigation.external_sites"}}
        {{fa-icon "caret-down" class="dropdown-caret"}}
      </a>

      <div class="dropdown-menu">
        {{#each this.externalSites as |externalSite|}}
          {{#link-to "external-site" (query-params url=externalSite.url) class="dropdown-item"}}
            {{externalSite.name}}

            {{#if externalSite.description}}
              <small class="d-block muted pl-2">
                {{externalSite.description}}
              </small>
            {{/if}}
          {{/link-to}}
        {{/each}}
      </div>
    </li>
  </ul>

  <ul class="navbar-nav mr-2">
    <li class="nav-item">
      {{#pow-link "settings" class="nav-link px-1"}}
        {{t "components.navigation.settings"}}
      {{/pow-link}}
    </li>
  </ul>

  <div class="navbar-text">
    <div local-class="badge-league" class="badge badge-darker badge-league px-2 py-1">
      {{leagueName}}
    </div>
  </div>

  <div class="navbar-text ml-2 px-1">
    {{#if isAuthenticated}}
      {{#pow-tooltip
        class="d-inline text-success"
        placement="left"
        title=(t "components.navigation.authenticated")
      }}
        {{fa-icon "user-check"}}
      {{/pow-tooltip}}
    {{else}}
      {{#pow-tooltip
        class="d-inline text-danger"
        placement="left"
        title=(t "components.navigation.not_authenticated")
      }}
        {{fa-icon "user-slash"}}
      {{/pow-tooltip}}
    {{/if}}
  </div>
</nav>
